
@model StudentVM
@{ 
    ViewData["Title"] = "Show";
    ViewData["pageTitle"] = "Student";
    Layout = null;
}

<div class="card col-md-12" style="width: 29rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Student Id:</h5>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">@Model.StudentId</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Student Name:</h5>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">@Model.StudentName</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Class:</h5>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">@Model.ClassName</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Roll Number:</h5>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">@Model.StudentRollNo</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Address:</h5>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">@Model.StudentAddress</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Result in % :</h5>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">@Model.Percentage</h5>
            </div>
        </div>
    </div>
</div>